#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_installdocs:
	dh_installdocs doc/getting_started.md

override_dh_installman:
	dh_installman doc/saveconfig.json.5
	dh_installman doc/targetctl.8
