#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install --buildsystem=pybuild

override_dh_installman:
	dh_installman targetcli.8
